#amountUsersLabel {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

.idInput {
    margin-bottom: 5px !important;
    margin-right: 30px !important;
}

.input-amount {
    width: 100px !important;
    height: 25px !important;
    margin-top: -27px !important;
    margin-left: 277px !important;
}

.button-amount {
    width: 60px !important;
    height: 30px !important;
    margin-top: -48px !important;
    margin-left: 386px !important;
    line-height: 5px !important;

}

.foot {
    margin-left: 4px !important;
}

#footer {
    height: 90px;
}

#main {
    display: block;
    height: 480px;
    width: 100%;
    padding: 10px;
    overflow: auto;
}
